body {
    margin: 0;
    text-align: center;
    background: #111;
    color: white;
    font-family: Arial, sans-serif;
}

canvas {
    background: #222;
    display: block;
    margin: 20px auto;
    border: 3px solid #00ffcc;
}
